*{
    margin: 0;
    padding: 0;
}

header,main,footer,nav,aside,section{
    display: block;
}

a{
    text-decoration: none;
}

a:hover{
    color: #3E3F43;
}


body {

    background-color: #FFFFFF;

}

header{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
}

#logo{
    background-image: url(../images/Group\ 27.png);
    background-repeat: no-repeat;
    display:block;
}

#logo a {

    position: absolute;
    width: 100px;
    height: 30px;
    left: 40px;
    top: 40px; 
}

#logo2 {
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-left: 35px;
    letter-spacing: 0.25em;
    color: #3E3F43;
    

}

#mainhaed{
   
    position: absolute;
    width: 100%;
    height: 555px;
    left: 0px;
    top: 123px;

    background: #F9BDBD;
}

#head1 h1{
    position: absolute;
    font-family:Nunito;
    width: max-content;
    height: 98px;
    left: 506px;
    top: 206px;
    font-style:normal;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}

#head2 p{


    position: absolute;
    width: max-content;
    height: 66px;
    left: 506px;
    top: 240px;

    font-family:'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #000000;

}

#another_color{


    position: absolute;
    width: 278px;
    height: 388px;
    left: 40px;
    top: 100px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;

    background: #F7DEA6;

}

.me{
    
    background-repeat: no-repeat;
    display:block;
    position: absolute;
    width: 388px;
    height: 306px;
    left: 150px;
    top: 180px;
    
}


#main{
   
    position: absolute;
    width: 500px;
    height: 555px;
    left: 30px;
    top: 550px;

    background: none;
    
} 
 h2{

    position: absolute;
    width: 89px;
    height: 40px;
    left: 40px;
    top: 30px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #000000;


}

#about_me p{
    
  
position: absolute;
width: 741px;
height: 458px;
left: 40px;
top: 80px;


font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: justify;

color: #000000;


}



#exe{
    position: absolute;
    width: 77px;
    height: 40px;
    left: 0px;
    top: 400px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;

    color: #000000;
}

#execover1{
    position: absolute;
    width: 200px;
    height: 264px;
    left: 30px;
    top: 100px;
    background: #FDEDE5;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
 
}
 p{

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    left: 40px;
    margin-top: 50px;  
    color: #000000;
}

.cover_view:hover{
    background-color:#000000;
}
.cover_view {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 30px;
    top: 200px;
    background-color: #FFFFFF;
    border-radius: 25px;
    
}
.bview{
    position: absolute;
    height: 24px;
    left:50px;
    right: 14.74px;
    margin-left: -10px;
    font-size: 14px;
    color: #171F46;


}

.image1{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-left: 24px;
    margin-top: 38px;
    background-image: url(../images/image.png);
    display:block;

}
   

    
    #execover2{
        position: absolute;
        width: 200px;
        height: 264px;
        left: 250px;
        top: 100px;
        background: #EBF1FF;;
        box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
        border-radius: 25px;


}


.image2{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-left: -10px;
    margin-top: -160px;
    background-image: url(../images/image.png);
    display:block;

}

  
#execover3{
    position: absolute;
    width: 200px;
    height: 264px;
    left: 470px;
    top: 100px;
    background: #EBFFEC;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


#execover4{
    position: absolute;
    width: 200px;
    height: 264px;
    left: 690px;
    top: 100px;
    background: #FFEBFC;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 25px;


}



#execover5{
    position: absolute;
    width: 200px;
    height: 264px;
    left: 910px;
    top: 100px;
    background: #FFFEEB;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 25px;


}

#prog h2{
    position: absolute;
    width: 700px;  
    top: 1400px;
    color: #000000;
}

#items ul{

    position: absolute;
    left: 90px;
    top: 1460px;
    bottom: 39.47%;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    text-align: justify;

    color: #000000;



}


#yc h2{
    position: absolute;
    width: 169px;  
    top: 1680px;
    color: #000000;
}

.ycbackg{
    position: absolute;
    width: 1120px;
    height: 508px;
    left: 40px;
    top: 1740px;
    margin :auto;
    background: #F9BDBD;

}


footer {

    background-image: url(../images/img.jpg);

    margin-top: 2500px;

}




#footer_links  span {

    font-family:'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-left: 0px;
    color: #8D8D8D;

}




#footer_links h2{

    color: #333333;
    width: 100px;
    height: 25px;
    margin-left: 20px;
    top: 2580px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

#footer_links a{

    font-family:'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-left: 70px;
    color: #8D8D8D;
}